<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="test" >

  <select id="findUserByName" parameterType="String" resultType="springmvc.po.User">
  	SELECT * FROM person_infor WHERE NAME LIKE '%${value}%'
  </select>
  
  <update id="updateByName" parameterType="User">
  		UPDATE person_infor SET sex=#{sex},age=#{age}
  		
  		<where>
  			<include refid="sql_find_by_name"></include>
  		</where>
  </update>
  
  <sql id="sql_find_by_name">
  	<if test="name != null">
  		NAME LIKE '%${name}%'
  	</if>
  	<!-- <if test="name == null">
  		NAME LIKE '%${name}%'
  	</if> -->
  </sql>
</mapper>